.table-toolbar {
  box-sizing: border-box;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: none;
  background-color: #e9edf2;
}

.search-button {
  display: flex;
}

.legend-title {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 25px;
  margin-left: 35px;
}

.toolbar-button {
  display: flex;
  align-items: center;
  position: relative;
}

.sort {
  margin-right: 20px;
}

#add-button {
  height: 49px;
  width: 128px;
  background-color: #2653f1;
  font-family: "Manrope";
  font-size: 16px;
}

.sort-filter {
  background-color: white;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 26px;
  cursor: pointer;
  margin-right: 18px;
  width: 110px;
}

.search-sort-filter {
  display: flex;
  align-items: center;
}

#sort-filter-icon {
  margin-right: 6px;
}

@media screen and (max-width: 1103px) {
  div.search {
    display: none;
  }
}

@media screen and (max-width: 670px) {
  div.search-button {
    display: none;
  }
}
