.table-toolbar {
  box-sizing: border-box;
  border-radius: 5px 5px 0px 0px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 35px;
  border-bottom: none;
  background-color: #e9edf2;
}

.search-button {
  display: flex;
}

.legend-title {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 25px;
  margin-left: 35px;
}

.toolbar-button {
  display: flex;
  align-items: center;
  position: relative;
}

#add-button {
  height: 49px;
  width: 128px;
  background-color: #2653f1;
  font-family: "Manrope";
  font-size: 16px;
}

.sort-button {
  background-color: white;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 26px;
  cursor: pointer;
  margin-right: 18px;
  width: 152px;
}

.search-sort-filter {
  display: flex;
  align-items: center;
}

#sort-filter-icon {
  margin-right: 6px;
}

#sort-icon-enabled {
  margin-right: 6px;
}

.sort-button-enabled {
  background-color: white;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 26px;
  cursor: pointer;
  margin-right: 18px;
  width: 152px;
  border: 1px solid #2653f1;
}

.filter-button {
  background-color: white;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 26px;
  cursor: pointer;
  margin-right: 18px;
  min-width: 125px;
}

.filter-count {
  background-color: white;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 26px;
  cursor: pointer;
  margin-right: 18px;
  width: 157px;
  border: 1px solid #2653f1;
}

@media screen and (max-width: 1103px) {
  div.search {
    display: none;
  }
}

@media screen and (max-width: 670px) {
  div.search-button {
    display: none;
  }
}

.css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
  font-family: "Inter" !important;
  font-weight: 400 !important;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #1a191c;
  margin-left: 11px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  height: 419px;
  overflow: auto;
}
