.filter {
  display: flex;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  min-height: 100%;
}

#heading-clear-all {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 10px;
  font-family: "Inter" !important;
  font-weight: 500;
}

.filter-by {
  font-family: "Inter" !important;
  border-right: 2px solid #bdbcbc14;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#filter-by-options {
  height: 56px;
  width: 310px;
  left: 8px;
  border-radius: 8px;
  padding: 16px;
  font-family: "Inter" !important;
  display: flex;
  justify-content: space-between;
}

#filter-by-options:hover {
  background-color: #f3f5f7;
}

@media screen and (max-width: 687px) {
  #account-menu {
    display: none;
  }
}

#filter-button {
  text-transform: none;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  height: 40px;
  width: 135px;
  border-radius: 6px;
  padding: 13px 17px 13px 17px;
}

#clear-all {
  color: #f64040;
  margin-right: -6px;
  cursor: pointer;
}

#avatar-arrow {
  display: flex;
  align-items: center;
}

#filter-avatar {
  background-color: #2653f1;
  color: white;
  width: 24px !important;
  height: 24px !important;
  font-size: 14px !important;
}
