.custom-avatar {
  display: flex;
}
.custom-fullname {
  font-size: 14px;
  margin-left: 15px;
  font-weight: bold;
  color: #0a0d14;
  white-space: nowrap;
  width: 204px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Manrope";
}

.custom-email {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-left: 15px;
}
