.role-list-header div {
  margin-left: 7px;
}

.roles-permission-list {
  margin-left: 22px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1310px) {
  .role-list-header div {
    margin-top: 1px;
  }
}
