.blurred-edit {
  opacity: 0.5;
}

.blurred-delete {
  opacity: 0.5;
}

.blurred-edit:hover {
  filter: invert(33%) sepia(91%) saturate(3281%) hue-rotate(213deg)
    brightness(99%) contrast(87%);
  opacity: 0.5;
}

.blurred-delete:hover {
  filter: invert(15%) sepia(97%) saturate(4902%) hue-rotate(349deg)
    brightness(83%) contrast(96%);
  opacity: 0.5;
}

.edit:hover {
  filter: invert(33%) sepia(91%) saturate(3281%) hue-rotate(213deg)
    brightness(99%) contrast(87%);
}

.delete:hover {
  filter: invert(15%) sepia(97%) saturate(4902%) hue-rotate(349deg)
    brightness(83%) contrast(96%);
}

.edit-line {
  padding-top: 15px;
}

.edit-line:hover {
  filter: invert(33%) sepia(91%) saturate(3281%) hue-rotate(213deg)
    brightness(99%) contrast(87%);
}

.blurred-edit-line {
  padding-top: 15px;
  opacity: 0.5;
}

.blurred-edit-line:hover {
  filter: invert(33%) sepia(91%) saturate(3281%) hue-rotate(213deg)
    brightness(99%) contrast(87%);
  opacity: 0.5;
}

@media screen and (max-width: 1310px) and (max-height: 820px) {
  .edit,
  .delete,
  .blurred-delete,
  .blurred-edit,
  .edit-line,
  .blurred-edit-line {
    width: 55% !important;
  }
}
