.wrapperContainer {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.navBar {
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
}

.sideBar {
  width: 370px;
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.body {
  background-color: #f5f5f5;
  display: flex;
  height: 100vh;
}
.outlet {
  width: 80%;
  margin: 35px;
  box-shadow: 6px 6px 6px 6px #9d9d9d29;
  border-radius: 10px;
  background-color: white;
  overflow: auto;
}

.navLogo {
  padding: 17px 0px 10px 17px;
}

.navbar-avatar {
  padding: 0 !important;
  margin-left: 7px;
}

.userdetails {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
  margin-top: 18px;
  margin-left: 20px;
}

.nav-user-details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-icon {
  margin-right: 13px;
}

.name-logout {
  margin-left: 10px;
  font-family: "Inter";
}

.logout {
  font-size: 14px;
  color: #6b7280;
  cursor: pointer;
}

.username {
  font-size: 16px;
  color: #374151;
  margin-bottom: 4px;
}
