.wrapperContainer {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.navBar {
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
}

.sideBar {
  width: 480px;
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.body {
  background-color: #e9edf2;
  display: flex;
  height: 100vh;
}
.outlet {
  width: 93%;
  margin-left: 53px;
  margin-right: 53px;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: white;
  overflow: auto;
  height: 875px;
}

.navLogo {
  padding: 17px 0px 10px 17px;
}

.navbar-avatar {
  padding: 0 !important;
  margin-left: 7px;
}

.userdetails {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
  margin-top: 18px;
  margin-left: 20px;
}

.nav-user-details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-icon {
  margin-right: 8px;
}

.name-logout {
  margin-left: 10px;
  font-family: "Inter";
}

.logout {
  font-size: 14px;
  color: #6b7280;
  cursor: pointer;
  line-height: 20px;
}

.username {
  font-size: 16px;
  color: #374151;
  line-height: 24px;
}

.nav {
  width: 101%;
  height: 76px;
  background-color: white;
}

.nav-outlet {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
