.wrapperContainer {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.navBar {
  width: 320px;
  height: 85px;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
}

.sideBar {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.body {
  background-color: #e9edf2;
  display: flex;
  height: 100vh;
}

.outlet {
  width: 96%;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 0px;
  background-color: transparent;
  overflow: auto;
  height: 99%;
}

.navLogo {
  padding: 17px 0px 10px 17px;
}

.navbar-avatar {
  padding: 0 !important;
  margin-left: 7px;
}

.userdetails {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
  margin-top: 18px;
  margin-left: 20px;
}

.nav-user-details {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-icon {
  margin-right: 8px;
}

.name-logout {
  margin-left: 10px;
  font-family: "Inter";
}

.logout {
  font-size: 14px;
  color: #6b7280;
  cursor: pointer;
  line-height: 20px;
}

.username {
  font-size: 16px;
  color: #374151;
  line-height: 24px;
}

.nav {
  width: 100%;
  height: 84px;
  background-color: #ffffffb8;
  box-shadow: 0px 4px 14px 4px rgba(80, 80, 135, 0.06);
}

.nav-header-wrap {
  display: flex;
  flex-direction: column;
  margin-left: 48px;
  margin-top: 22px;
}

.nav-header {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;

  color: #1a191c;
}

.nav-sub-header-wrapper {
  display: flex;
  margin-bottom: 3px;
  margin-top: -7px;
}

.nav-sub-header {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  color: #3e5468;
}

.nav-sub-header-active {
  color: #2f6fed;
  cursor: pointer;
}

.nav-bar-icon {
  margin: 0px 10px;
}

.nav-outlet {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
