.bottom-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: white;
  left: 0px;
  padding: 30px 60px;
  display: flex;
  border-top: 1px solid #d2d5dd;
  z-index: 1;
}

.submit-buttom-style {
  margin-left: 20px;
}

#cancel-button {
  font-size: 14px;
  font-family: "Inter";
}

#submit-button {
  font-size: 14px;
  width: 121px;
  font-family: "Inter";
}
