.table-component {
  height: 90%;
  background-color: white;
}

.denied-table-component {
  height: 96.5%;
  background-color: white;
  border-radius: 6px;
}

.table-list-header {
  font-size: 16px;
  font-weight: bolder !important;
  height: 60px !important;
}

.disabled-styles:hover {
  cursor: not-allowed;
  color: #67686cbf !important;
}

.MuiDataGrid-root .MuiDataGrid-cell {
  border: none !important;
  min-height: 50px !important;
}

#pagination-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  color: #727782;
  line-height: 20px;
  width: 76px;
}

#go-button {
  text-transform: none;
  background-color: #2f6fed;
  color: white;
  min-width: 32px !important;
  height: 35px !important;
}

#go-button:hover {
  background-color: #2f6fed;
  color: white;
  box-shadow: 2px 2px 0px rgb(0 0 0 / 14%);
}

.css-3q9hkm-MuiInputBase-root-MuiOutlinedInput-root {
  width: 37px;
  height: 31px;
  background-color: white;
  font-family: "Inter" !important;
  font-size: 15px !important;
}

.css-c4e03a-MuiButtonBase-root-MuiPaginationItem-root {
  background-color: white !important;
  margin: 0px 5px !important;
}

.css-c4e03a-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  color: #2f6fed !important;
  border-color: #2f6fed !important;
}

.css-204u17-MuiDataGrid-main {
  border: 1px solid #d9d9d9 !important;
}

.MuiPagination-root {
  width: 78%;
}

.pagination-count {
  min-width: 120px;
  font-family: "Inter";
  font-size: 16px;
  color: #1a191c;
}

.go-to-page {
  display: flex;
  align-items: center;
}

.css-16zo66t-MuiButtonBase-root-MuiButton-root {
  font-size: 14px;
}

.css-14301sb-MuiDataGrid-root
  .MuiDataGrid-columnHeader--sorted
  .MuiDataGrid-iconButtonContainer,
.css-14301sb-MuiDataGrid-root
  .MuiDataGrid-columnHeader--filtered
  .MuiDataGrid-iconButtonContainer {
  display: none;
}

.MuiDataGrid-row {
  min-height: 77.87px !important;
}

.MuiDataGrid-footerContainer {
  min-height: 94px !important;
}

.MuiDataGrid-cellContent {
  font-size: 16px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 567px) {
  .pagination-count {
    display: none;
  }

  .MuiPagination-root {
    min-width: 120% !important;
  }
}

@media screen and (max-width: 1180px) and (max-height: 820px) {
  .MuiDataGrid-columnHeaderTitle {
    font-size: 14px !important;
  }

  .MuiDataGrid-columnHeaders {
    height: 53px !important;
  }

  .MuiDataGrid-row {
    min-height: 61.87px !important;
  }

  .MuiDataGrid-footerContainer {
    min-height: 85px !important;
  }

  .MuiPagination-root {
    font-size: 12px !important;
    min-width: unset !important;
    min-height: unset !important;
    width: 73% !important;
    height: 26px !important;
  }

  .pagination-count {
    font-size: 15px;
  }

  .css-3q9hkm-MuiInputBase-root-MuiOutlinedInput-root {
    width: 30px;
    height: 26px;
    font-size: 12px !important;
  }

  #go-button {
    width: 36px !important;
    height: 32px !important;
    font-size: 14px;
    min-width: unset;
  }

  .MuiDataGrid-cellContent {
    font-size: 15px;
  }
}

@media screen and (max-width: 980px) {
  .table-component {
    height: calc(100vh - 190px);
  }
}

@media screen and (min-width: 980px) and (max-width: 1180px) and (max-height: 820px) {
  .table-component {
    height: calc(100vh - 178px);
  }
}
