.table-component {
  height: 90%;
  background-color: white;
}

.table-list-header {
  font-size: 16px;
  font-weight: bolder !important;
  height: 60px !important;
}

.blurred-edit {
  opacity: 0.5;
}

.blurred-delete {
  opacity: 0.5;
}

.blurred-edit:hover {
  filter: invert(33%) sepia(91%) saturate(3281%) hue-rotate(213deg)
    brightness(99%) contrast(87%);
  opacity: 0.5;
}

.blurred-delete:hover {
  filter: invert(15%) sepia(97%) saturate(4902%) hue-rotate(349deg)
    brightness(83%) contrast(96%);
  opacity: 0.5;
}

.edit:hover {
  filter: invert(33%) sepia(91%) saturate(3281%) hue-rotate(213deg)
    brightness(99%) contrast(87%);
}

.delete:hover {
  filter: invert(15%) sepia(97%) saturate(4902%) hue-rotate(349deg)
    brightness(83%) contrast(96%);
}

.disabled-styles:hover {
  cursor: not-allowed;
  color: #67686cbf !important;
}

.MuiDataGrid-root .MuiDataGrid-cell {
  border: none !important;
  min-height: 50px !important;
}

.edit-line {
  padding-top: 15px;
}

.edit-line:hover {
  filter: invert(33%) sepia(91%) saturate(3281%) hue-rotate(213deg)
    brightness(99%) contrast(87%);
}

.blurred-edit-line {
  padding-top: 15px;
  opacity: 0.5;
}

.blurred-edit-line:hover {
  filter: invert(33%) sepia(91%) saturate(3281%) hue-rotate(213deg)
    brightness(99%) contrast(87%);
  opacity: 0.5;
}

#pagination-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  color: #727782;
  line-height: 20px;
  width: 76px;
}

.MuiDataGrid-cell:focus {
  outline: none !important;
}

.css-3q9hkm-MuiInputBase-root-MuiOutlinedInput-root {
  width: 37px;
  height: 31px;
  background-color: white;
  font-family: "Inter" !important;
  font-size: 15px !important;
}

.css-c4e03a-MuiButtonBase-root-MuiPaginationItem-root {
  background-color: white !important;
  margin: 0px 5px !important;
}

.css-c4e03a-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  color: #1890ff !important;
  border-color: #1890ff !important;
}

.css-204u17-MuiDataGrid-main {
  border: 1px solid #d9d9d9 !important;
}

@media screen and (max-width: 1597px) {
  .css-1oj2twp-MuiPagination-root {
    width: 73% !important;
  }
  .go-to-page {
    width: 169px;
  }
}

@media screen and (max-width: 900px) {
  .go-to-page {
    display: none !important;
  }
  .css-1oj2twp-MuiPagination-root {
    width: 76% !important;
  }
}

.css-1oj2twp-MuiPagination-root {
  width: 78%;
}

.pagination-count {
  width: 120px;
  font-family: "Inter";
  font-size: 16px;
  color: #1a191c;
}

.go-to-page {
  display: flex;
  align-items: center;
}

.css-16zo66t-MuiButtonBase-root-MuiButton-root {
  font-size: 14px;
}

.css-14301sb-MuiDataGrid-root
  .MuiDataGrid-columnHeader--sorted
  .MuiDataGrid-iconButtonContainer,
.css-14301sb-MuiDataGrid-root
  .MuiDataGrid-columnHeader--filtered
  .MuiDataGrid-iconButtonContainer {
  display: none;
}
