#enabled-text {
  color: #01579b;
  font-size: 17px;
  margin-left: 10px;
}

#disabled-text {
  color: grey;
  font-size: 17px;
  margin-left: 10px;
}

.css-1ifl4or-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
  color: #01579b !important;
}
