.search {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 20px;
}

.search-icon {
  position: absolute;
  left: 18px;
  color: #4a4a4a6e;
  bottom: 11px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 9px 11px 9px 17px;
  width: 436px;
  height: 31px;
  background: #ffffff;
  border-radius: 6px;
}

.css-1le28he-MuiInputBase-root {
  font-family: "Manrope" !important;
  position: relative;
  left: 32px;
  font-size: 16px !important;
}

.css-ngazp5-MuiInputBase-input {
  margin-left: 30px !important;
}
